@{
    ViewData["Title"] = "Home Page";
}

@model List<Wedding>

<div class="text-center">
    <h1 class="display-4">Wedding Planner</h1>
    <hr>
    <h2 class="display-5">Dashboard</h2>
    <hr>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>

<div class="container">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Wedding</th>
                <th scope="col">Date</th>
                <th scope="col">Guest</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            @foreach (var wedding in Model)
            {
            <tr>
                <td><a asp-action="Show" asp-controller="Home" asp-route-weddingId="@wedding.WeddingId">@wedding.WedderOne & @wedding.WedderTwo</a></td>
                <td>@wedding.Date</td>
                <td>@wedding.RSVPs.Count</td>
                @if (wedding.UserId == ViewBag.UserId)
                {
                    @if((DateTime.Now - @wedding.CreatedAt).TotalSeconds < 30)

                    {
                    <td><a asp-action="Delete" asp-controller="Home" asp-route-weddingId="@wedding.WeddingId">Delete</a></td>
                
                    }
                
                }
                else if (wedding.RSVPs.Any(r => r.UserId == ViewBag.UserId))
                {
                    <td><a asp-action="UnRSVP" asp-controller="Home" asp-route-weddingId="@wedding.WeddingId">Un-RSVP</a></td>
                }
                else
                {
                    <td><a asp-action="RSVP" asp-controller="Home" asp-route-weddingId="@wedding.WeddingId">RSVP</a></td>
                }
            </tr>
            }
        </table>
    <div class="row float-right">
    <a href="/newwedding" class="btn btn-info" role="button">New Wedding</a>
    </div>


</div>