@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wedding Planner</h1>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>


@model Wedding

<h1>@Model.WedderOne & @Model.WedderTwo's Wedding <a href="dashboard" class="btn btn-primary">Dashboard</a> <a href="/logout" class="btn btn-danger">Log Out</a></h1>
<h4>Date: @Model.Date.ToString("MMMM d, yyy - h:mm tt")</h4>
<h4>Guests:</h4>
<ul>
    @foreach (var response in @Model.RSVPs)
    {
        <li>@response.Guest.FirstName @response.Guest.LastName</li>
    }
</ul>